<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Plum</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>black_border</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>black_border</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>blue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>blue_border</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>blue_border</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>classic</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>classic</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>crazy_black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>crazy_black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>crazy_black_border</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>crazy_black_border</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>crazy_white</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>crazy_white</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>crazy_white_border</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>crazy_white_border</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>gray</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>gray</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>gray_border</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>gray_border</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>modern</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>modern</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>orange</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>orange</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>orange_border</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>orange_border</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>purple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>purple</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>purple_border</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>purple_border</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>red</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>red</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>red_border</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>red_border</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>redpink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>redpink</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>redpink_border</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>redpink_border</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>rose</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>rose</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>rose_border</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>rose_border</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>six_border</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>six_border</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>sixyy</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>sixyy</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>spotgreen</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>spotgreen</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>spotgreen_border</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>spotgreen_border</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>wizard</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>wizard</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>wizard_border</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>wizard_border</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>yellow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>yellow</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>yellow_border</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>yellow_border</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>default</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.06</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>prefs</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>Plum needs access to your library to be able to play music</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
